<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/dashboard/layout}">
<head>
    <title>Instructors</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="/dashboard/instructors/create" class="btn btn-primary">Create Instructor</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="instructor : ${instructors}">
                        <td th:text="${instructor.fullName}">Full Name</td>
                        <td th:text="${instructor.email}">Email</td>
                        <td th:text="${instructor.phone}">Phone</td>
                        <td>
                            <a th:href="@{'/dashboard/instructors/edit/' + ${instructor.id}}" class="btn btn-warning">Update</a>
                            <a th:href="@{'/dashboard/instructors/remove/' + ${instructor.id}}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
