<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/dashboard/layout}">
<head>
  <title>Create Course</title>
</head>
<body>
<div layout:fragment="content">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Create Course</h6>
    </div>
    <div class="card-body">

      <form th:action="@{/admin/courses/create}" th:object="${course}" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="title">Full Name</label>
          <input th:field="*{title}" id="title" type="text" placeholder="Full Name" class="form-control"/>
          <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input th:field="*{description}" id="description" type="text" placeholder="Description" class="form-control"/>
          <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <input th:field="*{category}" id="category" type="text" class="form-control" placeholder="Category">
          <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label for="isNew">New</label>
          <select th:field="*{isNew}" id="isNew" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <span th:if="${#fields.hasErrors('isNew')}" th:errors="*{isNew}" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label for="durationInHours">Duration (in hours)</label>
          <input th:field="*{durationInHours}" id="durationInHours" type="number" step="1" class="form-control" placeholder="Duration">
          <span th:if="${#fields.hasErrors('durationInHours')}" th:errors="*{durationInHours}" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label for="isPopular">Popular</label>
          <select th:field="*{isPopular}" id="isPopular" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <span th:if="${#fields.hasErrors('isPopular')}" th:errors="*{isPopular}" class="text-danger"></span>
        </div>

        <!-- File upload -->
        <div class="form-group mt-3">
          <label for="imageInput" class="custom-file-upload">
            <i class="fas fa-upload"></i> Choose File
          </label>
          <input type="file" name="image" id="imageInput" style="display: none;"
                 onchange="document.getElementById('fileName').textContent = this.files[0] ? this.files[0].name : 'No file selected'" />

          <div id="fileName" style="color: #666; font-size: 14px; margin-top: 8px;">No file selected</div>
        </div>

        <input type="submit" class="btn btn-success my-3" value="Create">
      </form>




    </div>
  </div>
</div>
</body>
</html>